:root {
  --sm: 600px;
  --md: 900px;
  --lg: 1200px;

  --color-primary: #FFA800;
  --color-secondary: ;#9A5801;
  --color-tertiary: #FEE76A;
  --color-white: ;#DFE0DF;
  --color-black: #2E2E2E;
  --color-alert: '';
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: var(--color-black);
}

body {
  max-width: var(--sm);
  margin: 0 auto;
  padding: 0 0.5rem;
  background-color: var(--color-white);
}

#alert-area {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0.5rem;
  position: fixed;
  box-sizing: border-box;
}
.alert {
  border: solid 0.1em tomato;
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  background-color: pink;
  padding: 0.25em;
  margin-top: 0.25em;
  display: flex;
  width: 100%;
  box-sizing: inherit;
  justify-content: space-between;
}

.alert > .close {
  border: solid 0.1em tomato;
  border-radius: 0.25em;
  padding: 0 0.5em;
}

.alert > .close:hover {
  cursor: pointer;
}

.splash {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(100, 100, 100, 0.7);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin: 0.5em auto;
}

#icon {
  width: 70%;
  height: 60%;
  margin-left: 60px;
}

#main {
  display: flex;
  width: 100%;
  height: 416px;
  flex-direction: column;
  background-color: var(--color-tertiary);
  padding: .5em;
  border-radius: .5em;
}

h1 {
  font-family: 'Righteous', cursive;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 30px;
  text-shadow: 4px 4px 4px #aaa;
}

#search {
  display: flex;
  height: 30px;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 80%;
  

}



#search-button {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-width: 1px 0px 1px 1px;
  padding: 4px;
}
#search-bar {
  border: solid;
  border-width: 1px 0px 1px 0px;
  width: 400px;
  font-size: 14px;
  padding-left: 5px;
}

#cancel-button {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-width: 1px 1px 1px 0px;
  padding: 4px;
}

#main-date {
  width: 50%;
  text-align: center;
  margin: 20px auto 0px auto;
  font-size: 18px;
}

#main-location {
  width: 50%;
  text-align: center;
  margin: 0px auto;
  font-size: 24px;
}

.bold-weather-image {
  margin-left: 110px;
}

#weather-icon {
  width: 60%;
}


#weather {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.weather-buttons {
  width: 24%;
  height: 90%;
  margin: 2px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  border-width: 1px;
  
}

.weather-buttons > img {
  width: 30%;
}

footer {
  margin-top: 60px;
  border-top-width: 100px;
  padding-left: 80px;
  margin-bottom: 50px;
  margin-right: 30px;
 
}
p.copyright {
 font-size: small;
}

.social-icon {
  margin: 20px 10px;
}
