body {
  box-sizing: border-box;
}

#alert-area {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0.5rem;
  position: fixed;
  box-sizing: inherit;
}
.alert {
  border: solid 0.1em tomato;
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  background-color: pink;
  padding: 0.25em;
  margin-top: 0.25em;
  display: flex;
  width: 100%;
  box-sizing: inherit;

  justify-content: space-between;
}

.alert > .close {
  border: solid 0.1em tomato;
  border-radius: 0.25em;
  padding: 0 0.5em;
}

.alert > .close:hover {
  cursor: pointer;
}

.splash {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(100, 100, 100, 0.7);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading {
  display: inline-block;
}
